<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aoYiMask_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,574},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,860},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,574},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,574},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,288},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,238},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,238},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,120},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,120},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,574},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>aoYiMask_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>aoyi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee5e40616c83264c9730df68d7cd9183:1/1$</string>
            <key>textureFileName</key>
            <string>aoyi.png</string>
        </dict>
    </dict>
</plist>
