<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardSkillEffect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{334,145}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,63},{334,145}}</string>
                <key>sourceSize</key>
                <string>{370,359}</string>
            </dict>
            <key>cardSkillEffect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{292,333}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{292,333}}</string>
                <key>sourceSize</key>
                <string>{370,359}</string>
            </dict>
            <key>cardSkillEffect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,337},{228,333}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,11},{228,333}}</string>
                <key>sourceSize</key>
                <string>{370,359}</string>
            </dict>
            <key>cardSkillEffect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,675},{266,333}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,11},{266,333}}</string>
                <key>sourceSize</key>
                <string>{370,359}</string>
            </dict>
            <key>cardSkillEffect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{348,333}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{348,333}}</string>
                <key>sourceSize</key>
                <string>{370,359}</string>
            </dict>
            <key>cardSkillEffect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,333}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{356,333}}</string>
                <key>sourceSize</key>
                <string>{370,359}</string>
            </dict>
            <key>cardSkillEffect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{336,333}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{336,333}}</string>
                <key>sourceSize</key>
                <string>{370,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardSkillEffect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d3b4364c5daf5ce89d68bf1f9051f6a:1/1$</string>
            <key>textureFileName</key>
            <string>cardSkillEffect.png</string>
        </dict>
    </dict>
</plist>
