<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardXiaoShi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{264,368}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,140},{264,368}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,392},{154,264}}</string>
                <key>offset</key>
                <string>{-4,188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,0},{154,264}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,720},{102,240}}</string>
                <key>offset</key>
                <string>{9,200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,0},{102,240}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,392},{122,166}}</string>
                <key>offset</key>
                <string>{9,237}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{122,166}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,392},{136,104}}</string>
                <key>offset</key>
                <string>{9,268}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,0},{136,104}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,128},{262,490}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,84},{262,490}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{392,572}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{392,572}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,576},{142,554}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,86},{142,554}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,640}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,0},{92,640}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{124,520}}</string>
                <key>offset</key>
                <string>{6,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,0},{124,520}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,576},{142,430}}</string>
                <key>offset</key>
                <string>{3,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,0},{142,430}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,720},{92,344}}</string>
                <key>offset</key>
                <string>{9,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,0},{92,344}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>cardXiaoShi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,720},{124,264}}</string>
                <key>offset</key>
                <string>{6,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,25},{124,264}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardXiaoShi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64e2485f4de96ec011dccc5451cdc959:1/1$</string>
            <key>textureFileName</key>
            <string>cardXiaoShi.png</string>
        </dict>
    </dict>
</plist>
