<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kpps_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,708},{124,256}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{124,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,452},{208,260}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,8},{208,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{230,264}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,21},{230,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,714},{242,258}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{242,258}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{270,268}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{270,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,242},{208,270}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{208,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,452},{204,254}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,12},{204,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,516},{210,272}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,14},{210,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,186},{176,256}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,34},{176,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{142,182}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{142,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,242},{272,270}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{272,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,824},{70,94}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,110},{70,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,728},{70,94}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,110},{70,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{272,278}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{272,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,288}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{272,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>kpps_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{238,278}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{238,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kpps.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b087e10c6269233c6441b4497a17ead:1/1$</string>
            <key>textureFileName</key>
            <string>kpps.png</string>
        </dict>
    </dict>
</plist>
