<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maze_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{854,641}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,641}}</string>
                <key>sourceSize</key>
                <string>{854,641}</string>
            </dict>
            <key>maze_btn_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,189},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>maze_hpIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{185,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,159}}</string>
                <key>sourceSize</key>
                <string>{185,159}</string>
            </dict>
            <key>maze_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>maze_numBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{171,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,165}}</string>
                <key>sourceSize</key>
                <string>{171,165}</string>
            </dict>
            <key>maze_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,189},{178,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,31}}</string>
                <key>sourceSize</key>
                <string>{178,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maze.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0891de6ef2abb1ff3dd8a89717a7510d:1/1$</string>
            <key>textureFileName</key>
            <string>maze.png</string>
        </dict>
    </dict>
</plist>
