<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BntKaiShi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,555},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>BntKaiShi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,528},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>BntKaiShi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,474},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>BntSaoDang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,420},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>BntSaoDang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,528},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>BntSaoDang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,420},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>mapGateInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{825,622}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{825,622}}</string>
                <key>sourceSize</key>
                <string>{825,622}</string>
            </dict>
            <key>renWuKuangBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{190,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,370}}</string>
                <key>sourceSize</key>
                <string>{190,370}</string>
            </dict>
            <key>renWuKuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,582},{50,20}}</string>
                <key>offset</key>
                <string>{-57,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{50,20}}</string>
                <key>sourceSize</key>
                <string>{190,370}</string>
            </dict>
            <key>renWuKuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,582},{50,20}}</string>
                <key>offset</key>
                <string>{-57,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{50,20}}</string>
                <key>sourceSize</key>
                <string>{190,370}</string>
            </dict>
            <key>renWuKuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,582},{50,20}}</string>
                <key>offset</key>
                <string>{-57,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{50,20}}</string>
                <key>sourceSize</key>
                <string>{190,370}</string>
            </dict>
            <key>renWuKuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,582},{50,20}}</string>
                <key>offset</key>
                <string>{-57,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{50,20}}</string>
                <key>sourceSize</key>
                <string>{190,370}</string>
            </dict>
            <key>teamSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,582},{261,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,75}}</string>
                <key>sourceSize</key>
                <string>{261,75}</string>
            </dict>
            <key>yaoQingHuoBanBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,374},{183,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,44}}</string>
                <key>sourceSize</key>
                <string>{183,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gateInfo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3a0556fbd61569b77b3551825a4abb8:1/1$</string>
            <key>textureFileName</key>
            <string>gateInfo.png</string>
        </dict>
    </dict>
</plist>
