<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1822},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1886},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>login_account login_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1977},{177,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,68}}</string>
                <key>sourceSize</key>
                <string>{177,68}</string>
            </dict>
            <key>login_account login_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1707},{225,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,86}}</string>
                <key>sourceSize</key>
                <string>{225,86}</string>
            </dict>
            <key>login_account login_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1140},{565,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,472}}</string>
                <key>sourceSize</key>
                <string>{565,472}</string>
            </dict>
            <key>login_account login_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,520},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>login_account login_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1961},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>login_account login_plank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{835,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,533}}</string>
                <key>sourceSize</key>
                <string>{835,533}</string>
            </dict>
            <key>login_account login_plank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1909},{188,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,50}}</string>
                <key>sourceSize</key>
                <string>{188,50}</string>
            </dict>
            <key>login_account login_plank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1707},{242,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,74}}</string>
                <key>sourceSize</key>
                <string>{242,74}</string>
            </dict>
            <key>login_account login_plank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1977},{227,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,58}}</string>
                <key>sourceSize</key>
                <string>{227,58}</string>
            </dict>
            <key>login_account login_plank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1977},{244,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,66}}</string>
                <key>sourceSize</key>
                <string>{244,66}</string>
            </dict>
            <key>login_busy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1934},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>login_busy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1934},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>login_crowd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1951},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>login_crowd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1934},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>login_fluent_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1951},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>login_fluent_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1934},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>login_in_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1707},{174,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,70}}</string>
                <key>sourceSize</key>
                <string>{174,70}</string>
            </dict>
            <key>login_in_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1707},{174,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,71}}</string>
                <key>sourceSize</key>
                <string>{174,71}</string>
            </dict>
            <key>login_in_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1707},{200,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,71}}</string>
                <key>sourceSize</key>
                <string>{200,71}</string>
            </dict>
            <key>login_in_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1966},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>login_maintain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1951},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>login_maintain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1931},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>login_plank.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{516,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,106}}</string>
                <key>sourceSize</key>
                <string>{516,106}</string>
            </dict>
            <key>login_plank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1707},{113,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,40}}</string>
                <key>sourceSize</key>
                <string>{113,40}</string>
            </dict>
            <key>login_plank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1883},{136,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,46}}</string>
                <key>sourceSize</key>
                <string>{136,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:598fc45b6c3a2cd355b3bf748baa3b00:1/1$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
