<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{854,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,640}}</string>
                <key>sourceSize</key>
                <string>{854,640}</string>
            </dict>
            <key>roomBtnHeal0.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,125},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>roomBtnHeal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>roomBtnHeal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,437},{98,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{98,97}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>roomNumberOfHeal.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,437},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>roomPlayerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,248},{118,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,187}}</string>
                <key>sourceSize</key>
                <string>{118,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maze.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5617015516a70cd1fea9ab7be2b62877:1/1$</string>
            <key>textureFileName</key>
            <string>maze.png</string>
        </dict>
    </dict>
</plist>
