<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aoYiBgOrange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,386},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>aoYiBgOrange_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>aoYiBgOrange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,290},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>aoYiBgOrange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>aoYiBgOrange_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,194},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>aoYiBgOrange_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>aoYiBgOrange_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,98},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>aoYiBgOrange_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>aoYiBgOrange_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>aoYiBgOrange_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>aoYiBgOrange.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8be2072d14044c5098e4fc2b1921e6e9:1/1$</string>
            <key>textureFileName</key>
            <string>aoYiBgOrange.png</string>
        </dict>
    </dict>
</plist>
