<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_BJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{1137,641}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,641}}</string>
                <key>sourceSize</key>
                <string>{1137,641}</string>
            </dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,650},{292,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,77}}</string>
                <key>sourceSize</key>
                <string>{292,77}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,202},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>bianzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,729},{121,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,132}}</string>
                <key>sourceSize</key>
                <string>{121,132}</string>
            </dict>
            <key>chouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,852},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,851},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>dibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{845,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,100}}</string>
                <key>sourceSize</key>
                <string>{845,100}</string>
            </dict>
            <key>duihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,258},{390,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,358}}</string>
                <key>sourceSize</key>
                <string>{390,358}</string>
            </dict>
            <key>gowu.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{121,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,134}}</string>
                <key>sourceSize</key>
                <string>{121,134}</string>
            </dict>
            <key>liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,650},{56,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,108}}</string>
                <key>sourceSize</key>
                <string>{56,108}</string>
            </dict>
            <key>qianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,104},{188,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,75}}</string>
                <key>sourceSize</key>
                <string>{188,75}</string>
            </dict>
            <key>qiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,973},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>richeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,760},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,729},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,125},{187,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,75}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,883},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,181},{174,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,75}}</string>
                <key>sourceSize</key>
                <string>{174,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b5bba53d3baa919ebbd677499710f8b:1/1$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
