<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>teamEditAoYiListBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,110},{240,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,79}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>teamEditBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{826,623}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{826,623}}</string>
                <key>sourceSize</key>
                <string>{826,623}</string>
            </dict>
            <key>teamEditBtnSave_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,307},{195,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,51}}</string>
                <key>sourceSize</key>
                <string>{195,51}</string>
            </dict>
            <key>teamEditBtnSave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,137},{195,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,51}}</string>
                <key>sourceSize</key>
                <string>{195,51}</string>
            </dict>
            <key>teamEditBtnSave_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,110},{195,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,51}}</string>
                <key>sourceSize</key>
                <string>{195,51}</string>
            </dict>
            <key>teamEditBtnSort_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,56},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>teamEditBtnSort_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>teamEditBtnSort_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{133,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,52}}</string>
                <key>sourceSize</key>
                <string>{133,52}</string>
            </dict>
            <key>teamEditBtnzu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,382},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>teamEditBtnzu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,334},{46,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>teamEditCardType_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,382},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>teamEditCardType_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,352},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>teamEditCardType_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,352},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>teamEditCardType_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,474},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>teamEditCardType_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,444},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>team.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d03a250c5a8db06e68cc003eaa2e414c:1/1$</string>
            <key>textureFileName</key>
            <string>team.png</string>
        </dict>
    </dict>
</plist>
