<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_BJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,192},{296,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,64}}</string>
                <key>sourceSize</key>
                <string>{296,64}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,339},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>bianzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,127},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>chouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,258},{85,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,331},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>dibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{845,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,100}}</string>
                <key>sourceSize</key>
                <string>{845,100}</string>
            </dict>
            <key>gowu.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,258},{71,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,89}}</string>
                <key>sourceSize</key>
                <string>{71,89}</string>
            </dict>
            <key>qianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,104},{188,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,63}}</string>
                <key>sourceSize</key>
                <string>{188,63}</string>
            </dict>
            <key>qiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,127},{63,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,108}}</string>
                <key>sourceSize</key>
                <string>{63,108}</string>
            </dict>
            <key>richeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,288},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,258},{104,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{154,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,202},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,66},{154,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,59}}</string>
                <key>sourceSize</key>
                <string>{154,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f8e681a71fca28e2dff75b08979dc4:1/1$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
