<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AllCardBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,902},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>AllCardBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,902},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>blackBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,902},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>blackBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,902},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>buleBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,902},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>buleBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,902},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>greenBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,902},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>greenBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,902},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>joinTeamBtn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,677},{223,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,63}}</string>
                <key>sourceSize</key>
                <string>{223,63}</string>
            </dict>
            <key>joinTeamBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,452},{223,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,63}}</string>
                <key>sourceSize</key>
                <string>{223,63}</string>
            </dict>
            <key>joinTeamBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,512},{223,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,63}}</string>
                <key>sourceSize</key>
                <string>{223,63}</string>
            </dict>
            <key>leaveTeamBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,287},{223,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,63}}</string>
                <key>sourceSize</key>
                <string>{223,63}</string>
            </dict>
            <key>leaveTeamBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,227},{223,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,63}}</string>
                <key>sourceSize</key>
                <string>{223,63}</string>
            </dict>
            <key>leaveTeamBtn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{223,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,63}}</string>
                <key>sourceSize</key>
                <string>{223,63}</string>
            </dict>
            <key>redBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,902},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>redBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,902},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>teamEditAoYiListBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,287},{280,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,42}}</string>
                <key>sourceSize</key>
                <string>{280,42}</string>
            </dict>
            <key>teamEditBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{826,623}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{826,623}}</string>
                <key>sourceSize</key>
                <string>{826,623}</string>
            </dict>
            <key>teamEditCardType_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,719},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>teamEditCardType_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,689},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>teamEditCardType_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,659},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>teamEditCardType_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,629},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>teamEditCardType_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,599},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>teamEditCardType_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,569},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>teamLeaveBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,702},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>teamLeaveBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,677},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>teamSlotBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{283,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,119}}</string>
                <key>sourceSize</key>
                <string>{283,119}</string>
            </dict>
            <key>whiteBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,902},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>whiteBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>teamcard.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2d2ba7882bae6acbe9b39ee62e75352:1/1$</string>
            <key>textureFileName</key>
            <string>teamcard.png</string>
        </dict>
    </dict>
</plist>
