<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnReturn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,295},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>BtnReturn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,200},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>BtnReturn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,148},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cardType_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,231},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>cardType_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,295},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>cardType_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,390},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>cardType_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,81},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>cardType_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,14},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>chuJi.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,101},{97,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,146}}</string>
                <key>sourceSize</key>
                <string>{97,146}</string>
            </dict>
            <key>goHome_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,231},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>goHome_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,446},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>goHome_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>haoGanDu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,23},{95,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,18}}</string>
                <key>sourceSize</key>
                <string>{95,18}</string>
            </dict>
            <key>haoGanDu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{75,10}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{75,10}}</string>
                <key>sourceSize</key>
                <string>{95,18}</string>
            </dict>
            <key>kaPai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{97,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,146}}</string>
                <key>sourceSize</key>
                <string>{97,146}</string>
            </dict>
            <key>kaPai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{97,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,146}}</string>
                <key>sourceSize</key>
                <string>{97,146}</string>
            </dict>
            <key>kaPai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{97,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,146}}</string>
                <key>sourceSize</key>
                <string>{97,146}</string>
            </dict>
            <key>kaPai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{97,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,146}}</string>
                <key>sourceSize</key>
                <string>{97,146}</string>
            </dict>
            <key>kaPai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,146}}</string>
                <key>sourceSize</key>
                <string>{97,146}</string>
            </dict>
            <key>kaPai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,146}}</string>
                <key>sourceSize</key>
                <string>{97,146}</string>
            </dict>
            <key>tuoErTouXiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,101},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoXing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,14},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>xiaoXing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:967157e907b5f5074ed9e2dff7bf334d:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
