<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaPaiXuanZe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{109,160}}</string>
                <key>sourceSize</key>
                <string>{115,166}</string>
            </dict>
            <key>kaPaiXuanZe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{111,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{111,158}}</string>
                <key>sourceSize</key>
                <string>{115,166}</string>
            </dict>
            <key>kaPaiXuanZe_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{111,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{111,158}}</string>
                <key>sourceSize</key>
                <string>{115,166}</string>
            </dict>
            <key>kaPaiXuanZe_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{111,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{111,158}}</string>
                <key>sourceSize</key>
                <string>{115,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selected.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8e336d2fcdaf646ddf796f4968aad72:1/1$</string>
            <key>textureFileName</key>
            <string>selected.png</string>
        </dict>
    </dict>
</plist>
